{% extends "base.html" %}

{% block title %}
Législatures
{% endblock %}

{% block activate_periods %}
active
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Législatures</li>
    </ol>
</nav>

<ul>
{% for period in periods %}
    <li id="{{period.id}}">
        <h3>{{period.name}}</h3>
        <ul>
            <!-- <li><b>Id:</b> {{period.id}}</li>
            <li><b>From:</b> {{period.from}}</li>
            <li><b>To:</b> {{period.to}}</li> -->
            {% for prop in period %}
                <li><b>{{prop}}: </b> {{period[prop]}}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}